@import 'components/all';

*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
ul, li{
  list-style: none;
}
.about{
  padding: 30px 30px 0;
  display: flex;
}
.about__left{
  width: 550px;
  margin-right: 10px;
  padding: 20px 10px 0;
  img{
    height: 300px;
    display: block;
    margin: 0 auto;
  }
  &-name{
    font-size: 40px;
    text-align: center;
  }
  &-info{
    font-size: 17px;
    text-align: center;
  }
  &-title{
    font-size: 30px;
    &::after{
      content: '';
      display: block;
      width: 200px;
      height: 2px;
      background: #aa46b6;
      margin-left: -20px;
    }
  }
  &-text{
    font-size: 17px;
  }
}
.about__right{
  color: #fff;
  padding: 0 30px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  &-title{
    color: #fff;
  }
}

.about__skill{
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 5px 20px;
  margin-bottom: 30px;
  &-info{
    font-size: 19px;
  }
}

@media (max-width: 930px) {
    .about{
      flex-direction: column;
      align-items: center;
    }
    .about__left{
      margin-right: 0;
      width: 100%;
    }
}

.projects__title{
  text-align: center;
}

//contact
.contact{
  padding: 30px 30px 0;
  display: flex;
}
.contact__left{
  text-align: center;
  width: 50%;
  img{
    height: 400px;
    display: block;
    margin: 0 auto;
  }
  &-text{
    margin: 30px auto 0;
    width: 300px;
    font-size: 20px;
  }
}
.contact__right{
  &-title{
    font-size: 65px;
    margin-bottom: 60px;
    text-align: center;
    &::after{
      content: '';
      width: 50%;
      display: block;
      margin: 0 auto;
      padding-top: 42px;
      border-bottom: 5px dotted #000;
    }
  }
}
.contact-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__item{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
  }
  &__link{
    color: #000;
    font-size: 35px;
    margin-left: 20px;
  }
}
@media (max-width: 970px) {
  .contact{
    display: block;
  }
  .contact__left{
    width: auto;
  }
}
@media (max-width: 540px) {
  .contact{
    padding: 15px 15px 0;
  }
  .contact__left{
    img{
      height: 300px;
    }
  }
  .contact__right{
    &-title{
      font-size: 45px;
      margin-bottom: 40px;
      &::after{
        width: 200px;
      }
    }
  }
  .contact-list__link{
    font-size: 20px;
  }
}
